@model Producto

    <form action="AgregarProducto" method="put">
        <input type="text" name="nombre" value="Nombre Producto"/>
        <input type="text" name="precio" value="Precio"/>
        <input type="text" name="stock" value="Stock"/>
        <input type="text" name="categoria" value="Categoria"/>
        <input type="submit" value="Agregar" />
    </form>