



<h2>@Model.CategoriaActual</h2>


@{
    foreach (Producto producto in Model.Productos)
    {

        @Html.Partial("SumarioProductosPartialView", producto);
    }
}

<br />
<p class="divider"></p>