@{
    ViewData["Title"] = "Contact";
}
<h3 style="text-align:center;color:brown">@ViewData["Message"]</h3>

<div style="text-align:center">
    <address>
        Emborrachar<br />
        Calle Falsa 123<br />
        <abbr title="Phone">Telefono:</abbr>
        123456789
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:emborrachar@420.com">emborrachar@420.com</a><br />
    </address>
</div>